<html>
<head>
    <title>{% if page.title %}{{page.title}}{% else %}Nanon{% endif %}</title>
</head>
<body>
    {{content}}

    <hr />
    <h1>ToC</h1>
    <ul>
        <li><a href="/phonology">Phonology</a></li>
        <li><a href="/morphology">Morphology</a></li>
        <li><a href="/semantics">Semantics: a note</a></li>
        <li><a href="/syntax">Syntax</a></li>
        <li><a href="/orthography">Orthography</a></li>
        <li><a href="/examples">Examples</a></li>
    </ul>
</body>
</html>
